ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.text-center {
  text-align: center;
  color: #007bff; /* Blue color */
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align labels and inputs to the right */
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  margin-bottom: 5px;
}

.form-control {
  text-align: right; /* Align text inside inputs to the right */
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ensure input fields take full width */
  box-sizing: border-box; /* Include padding and border in width */
}

input[type="file"] {
  text-align: right; /* Align file input to the right */
  direction: rtl; /* Ensure file input respects RTL layout */
}

.btn-container {
  margin-top: 15px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px; /* Rounded corners */
}

button[type="button"] {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition */
  border-radius: 5px; /* Rounded corners */
}

button[type="button"]:hover {
  background-color:#007bff; /* Darker blue on hover */
}

.text-danger {
  color: red;
}

.checkbox label {
  text-align: right;
  width: 100%; /* Ensure checkbox label takes full width */
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
  .form-container {
    padding: 10px;
    margin-bottom: 15px;
  }

  .btn-container {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  ion-title img {
    height: 30px;
  }

  .form-container {
    padding: 8px;
  }

  .btn-container {
    padding: 10px;
  }

  button[type="button"] {
    font-size: 16px;
    padding: 10px;
  }
}
