<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/form"></ion-back-button>
    </ion-buttons>
    <ion-title>الحساب البنكي</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size="auto">
        <ion-button expand="block" (click)="openPdf()">عرض الحساب البنكي</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


