/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Set the system font globally, with specific adjustments for iOS */
body, ion-content, ion-menu, ion-title, ion-item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
}

/* iOS Specific Styles */
.ios body, .ios ion-content, .ios ion-menu, .ios ion-title, .ios ion-item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  font-size: 100%; /* Ensure consistent font sizing on iOS */
}

/* Increase the font size and adjust other styling for the menu */
ion-menu {
  font-size: 18px; /* Increase the font size */
}

ion-title {
  font-size: 20px; /* Adjust the title font size */
  font-weight: bold; /* Make the title bold */
}

ion-item {
  font-size: 18px; /* Adjust the menu item font size */
}

/* Optionally adjust the size of the menu icon */
ion-menu-button {
  font-size: 24px; /* Adjust the menu icon size */
}

/* Dark Mode Styles */
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  /* Add other light theme variables here */
}

[data-theme="dark"] {
  --ion-background-color: #222428;
  --ion-text-color: #ffffff;
  --ion-color-primary: #1e2023;
  --ion-color-secondary: #3dc2ff;
  /* Add other dark theme variables here */
}

/* Example of a dark mode specific style */
[data-theme="dark"] body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

/* Add more dark mode-specific styles here if needed */
