<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">شروط الإستخدام</ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-weight: bold;  color: blue;" (click)="dismiss()">إغلاق</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="text-align: right;">
      <h2 style="font-weight: bold; color: black;">باستخدام هذه الخدمة، فإنك توافق على الشروط والأحكام التالية:</h2>

      <h3 style="font-weight: bold; color: black;">:وصف الخدمة</h3>
      <p style="text-align: right; color: black;">:يتم تقديم هذه الخدمة لمساعدتك في إنشاء سيرة ذاتية احترافية يمكن أن تساعدك في البحث عن وظيفة. وتهدف إلى تحسين فرصك في الحصول على وظيفة من خلال تقديم سيرة ذاتية مصممة بشكل جيد</p>

      <h3 style="font-weight: bold; color: black;">:عدم ضمان التوظيف</h3>
      <p style="text-align: right; color: black;">:هذه الخدمة لا تضمن لك وظيفة أو توظيف. إن إنشاء سيرة ذاتية احترافية لا يضمن تلقيك لعروض عمل أو توظيفك من قبل أي جهة</p>

      <h3 style="font-weight: bold; color: black;">:مسؤولية المستخدم</h3>
      <p style="text-align: right; color: black;">:أنت المسؤول الوحيد عن المحتوى والمعلومات المقدمة في سيرتك الذاتية. من مسؤوليتك التأكد من أن جميع المعلومات دقيقة وصحيحة ومحدثة</p>

      <h3 style="font-weight: bold; color: black;">:الخصوصية</h3>
      <p style="text-align: right; color: black;">:سيتم التعامل مع المعلومات الشخصية التي تقدمها خلال عملية إنشاء السيرة الذاتية بسرية تامة. لن يتم مشاركة بياناتك مع جهات خارجية بدون موافقتك الصريحة، إلا إذا كان ذلك مطلوبًا بموجب القانون</p>

      <h3 style="font-weight: bold; color: black;">:حدود المسؤولية</h3>
      <p style="text-align: right; color: black;">:لا يتحمل مقدم الخدمة أي مسؤولية عن أي قرارات يتخذها أصحاب العمل بناءً على المعلومات المقدمة في سيرتك الذاتية. كما لا يتحمل مقدم الخدمة أي مسؤولية عن أي أضرار مباشرة أو غير مباشرة تنشأ عن استخدام هذه الخدمة</p>

      <h3 style="font-weight: bold; color: black;">:تغييرات في الشروط</h3>
      <p style="text-align: right; color: black;">:يحتفظ مقدم الخدمة بالحق في تعديل شروط الخدمة هذه في أي وقت. سيتم إخطارك بأي تغييرات مهمة، واستخدامك المستمر للخدمة بعد هذه التغييرات يعني قبولك للشروط الجديدة</p>
    </ion-card-content>
  </ion-card>
</ion-content>
